<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    
    <!-- 
    For Single user mode
    ====================
    <target name="system" xsi:type="File" fileName="${specialfolder:folder=LocalApplicationData}/BindHub/log.txt" archiveAboveSize="10737418240" maxArchiveFiles="0" layout="${longdate}|${level}|${message} ${exception:format=tostring}" />
    
    For Multi user mode
    ===================
    <target name="system" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/BindHub/log.txt" archiveAboveSize="10737418240" maxArchiveFiles="0" layout="${longdate}|${level}|${message} ${exception:format=tostring}" />
    -->

    <target name="system" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/BindHub/log.txt" archiveAboveSize="10737418240" maxArchiveFiles="0" layout="${longdate}|${level}|${message} ${exception:format=tostring}" />
    
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="system" />
  </rules>
</nlog>